@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Inter:wght@100;200;300;400&family=Noto+Sans:wght@500;700&family=Roboto:wght@100;300;400;500;900&display=swap');

$background1: #B5D1AC;
$primary_color :#F9F9F9;
$separator: #291733;
$sub_color: white;
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    list-style: none;
}

body {
    display: flex;
    margin: auto;
    max-height: 1679px;
    max-width: 1150px;

}

.contact_info {
    width: 350px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $background1;
    div {
        padding: 20px 0;
        border-bottom: 2px dashed $separator;
        h1 {
            font-size: 28px;
            font-weight: 300;
            span {
                font-size: 28px;
                font-weight:600;
            }
        }
        h2 {
            font-size: 19px;
            font-weight: 100;
        }
        h3 {
            font-size: 20px;
            padding-bottom: 20px;
        }
        img {
            margin-bottom: 20px;
            width: 90%;
            height: 265px;
            border-radius: 100%;
            border: solid 3px $separator;
        }
        ul {
            li {
                span {
                    font-weight: bolder;
                }
            }
        }
    }
    .download {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.main_info {
    max-width: 800px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: $primary_color;
    .container {
        border-top: 3px dashed $separator;
        
        h3 {
            background-color: $separator;
            width:350px;
            text-align: center;
            font-size: 20px;
            position: relative;
            top: -15px;
            color: $sub_color;
        }
        li {
            border-bottom: 1px dotted $separator;
            &:last-child {
                border-bottom: none;
            }
            h4 {
                text-transform:uppercase;
            }
            display: flex;
            justify-content: space-between;
            padding: 8px 8px;
            .block {
                width: 20%;
                &2 {
                    width: 70%;
                }
            }
        }
        .education {
            .block {
                width: 40%;
                &2 {
                    width: 50%;
                }
            }
        }
    }
}


.bottom {
    display: flex;
    border-top: 3px dashed $separator;
    justify-content: flex-start;
    .references {
        border-right: 3px dashed $separator;
        width: 60%;
        h3 {
            background-color: $separator;
            width:160px;
            text-align: center;
            font-size: 20px;
            position: relative;
            top: -15px;
            color: $sub_color;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 10px;
        }
    }
    .skills {
        width: 100%;
        h3 {
            background-color: $separator;
            width:200px;
            text-align: center;
            font-size: 20px;
            position: relative;
            top: -15px;
            right: -20px;
            color: $sub_color;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 10px;
            li {
                align-items: center;
                img {
                    width: 15px;
                }
                div {
                    width: 45%;
                }
                display: flex;
                .progress_bar {
                    background-color: $background1;
                    width: 90%;
                    height: 20px;
                    .fill {
                        background-color: $separator;
                        width: 70%;
                        height: 20px;
                        &2 {
                            @extend .fill;
                            width: 86%;
                        } 
                        &3 {
                            @extend .fill;
                            width: 80%;
                        }
                        &4 {
                            @extend .fill;
                            width: 70%;
                        }
                        &5 {
                            @extend .fill;
                            width: 75%;
                        }
                        &6 {
                            @extend .fill;
                            width: 30%;
                        }
                        &7 {
                            @extend .fill;
                            width: 40%;
                        }


                    }
                }
            }
        }
    }
}



